.loading-wrapper50 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    animation: fadeIn 0.4s ease-out;

}

.loading50 {
    font-size: 3rem;
    font-weight: 700;
   background: black;
    -webkit-background-clip: text;
    color: transparent;
    animation: glow 1.6s infinite alternate ease-in-out;
    letter-spacing: 2px;
}

@keyframes glow {
    0% { opacity: 0.4; transform: scale(0.96); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
